@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-color);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.section {
  padding: 94px 0;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  fill: var(--main-color);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translateY(30px);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: --main-color;
  margin-left: 0px;
  margin-right: 93px;
}

.studio {
  color: var(--fourth-color);
}

.modal-btn:focus,
.modal-btn:hover {
  color: --secondary-color;
}

.modal-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: --fourth-color;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  fill: solid;
  color: --third-color;
  cursor: pointer;
  margin-top: 30px;
}

.modal {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--third-color);
  width: 528px;
  min-height: 581px;
  padding: 40px 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  display: flex;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.about-board {
  padding-top: 0px;
}

.about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.content-list,
.about-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.content-item-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 0;
  background-color: #f5f4fa;
}

.content-list-svg {
  width: 70px;
  height: 70px;
}

.item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: --secondary-color;
}

.content-item:not(:last-child) {
  margin-right: 30px;
}

.container .about {
  display: flex;
  justify-content: center;
}

/* ===BANNER NA ITEM=== */
.about-item {
  position: relative;
}

.about-image-description {
  display: block;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0px;
}

.about-image-description-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: --third-color;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
}

.about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.container .clients {
  display: flex;
  justify-content: center;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.clients-list-icon {
  list-style: none;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  background-color: #ffffff;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, fill;
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.clients-icon-svg {
  width: 106px;
  height: 60px;
}

.footer {
  background-color: var(--sixth-color);
  color: var(--third-color);
  height: 252px;
  padding: 60px 0px;
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--third-color);
}

.footer-ad-info-list {
  list-style: none;
  margin-top: 20px;
  display: block;
}

.footer-address {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 3px;
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  margin: 10px 0;
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover,
.footer-address:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--fourth-color);
}

/*===FOOTER ICONS===*/
footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 0px;
}

form {
  display: flex;
  flex-direction: column;
  padding: auto;
}

.form-header {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 4px;
  display: block;
  margin-bottom: 12px;
}

.form-label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--fifth-color);
}

.form-input {
  width: 100%;
  height: 40px;
  border-color: rgba(33, 33, 33, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-input:focus {
  border-color: var(--fourth-color);
}

.form-label:focus-within {
  fill: #2196f3;
}

.form-icon {
  position: absolute;
  display: block;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-30%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-feedback {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--main-color);
  outline: none;
}

.form-feedback:focus {
  border-color: var(--fourth-color);
}

.checkbox-policy {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* .checkbox-label {
  position: relative;
} */
.checkbox-input {
  position: relative;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  outline: none;
}

.checkbox-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.checkbox-input:checked + .checkbox-label::before {
  content: "";
  display: inline-block;
  border: 3px solid black;
  background-color: var(--fourth-color);
  border-color: #2196f3;
  background-image: url(../images/checked.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox-span {
  color: var(--fourth-color);
  text-decoration: underline;
}

/* input[type="checkbox"]{
  appearance: none;
} */
.validation-span {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* ===KONIEC CHECKBOX=== */
.btn-form {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--fourth-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  fill: solid;
  color: var(--third-color);
  cursor: pointer;
}

/*===HEADER===*/
.header {
  /* width: 1600px; */
  height: 80px;
  border-bottom: 1px solid --ninght-color;
}

.header .container {
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-right: 27px;
}

.navigation-list,
.navigation-item,
.navigation-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: --main-color;
  position: relative;
}

/* ===PODKREŚLENIE===*/
.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link.current::after {
  content: "";
  position: absolute;
  display: block;
  top: 46px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  background-color: --fourth-color;
}

/* ===KONIEC PODKREŚLENIA===*/
.navigation-item:not(:last-child) {
  padding-right: 46px;
}

.contact {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.contact-item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: --secondary-color;
  text-decoration: none;
  fill: --secondary-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
}

.contact-item:not(:last-child) {
  padding-right: 50px;
}

.contact-icon {
  margin-right: 10px;
}

.link {
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus,
.contact-item-link:hover,
.contact-item-link:focus {
  color: --fourth-color;
  fill: var(--fourth-color);
}

.hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}

.main-header {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-transform: uppercase;
  text-align: center;
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
  /* padding-top: 200px;  */
  width: 696px;
  /* margin-left: auto;
    margin-right: auto; */
}

.hero {
  display: block;
  margin: 0 auto;
  background-color: var(--sixth-color);
  height: 600px;
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 1600px;
  width: 100%;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/lmg.jpg");
  /* background-repeat: no-repeat;
    background-position: 50%; */
}

.join {
  margin-top: 0;
}

.join-header {
  text-align: left;
  font-weight: 700;
  size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--eighth-color);
  text-transform: uppercase;
}

.join-media-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 206px;
  height: 44px;
  gap: 10px;
  padding-top: 20px;
}

.join-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--third-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
}

.join-media-link:hover,
.join-media-link:focus {
  background-color: var(--fourth-color);
  fill: var(--third-color);
}

.join-media-svg {
  width: 20px;
  height: 20px;
}

.newsletter-form-header {
  text-align: left;
  font-weight: 700;
  size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--eighth-color);
  text-transform: uppercase;
}

.newsletter-form-label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--fifth-color);
  outline: none;
  background-color: none;
}

.newsletter-form-container {
  display: flex;
  align-items: flex-end;
}

.newsletter-form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  margin-top: 20px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  color: var(--fifth-color);
}

.newsletter-btn {
  display: flex;
  justify-content: space-evenly;
  margin-left: 12px;
  align-items: center;
}

#newsletter-form-mail {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.newsletter-form-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.container .team {
  display: flex;
  justify-content: center;
}

.team-board {
  background: var(--seventh-color);
}

.team,
.clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.name-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
}

.name-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-align: center;
  padding-top: 10px;
  margin-bottom: 16px;
}

.team-item {
  width: 270px;
  /* height: 428px; */
  left: 215px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--third-color);
}

/* ===TEAM ICONS=== */
.team-media-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 30px;
  padding-bottom: 30px;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.team-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--third-color);
  fill: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
}

.team-media-link:hover,
.team-media-link:focus {
  background-color: var(--fourth-color);
  fill: var(--third-color);
}

.team-media-svg {
  width: 20px;
  height: 20px;
}

.filter {
  padding-bottom: 50px;
}

.table {
  padding-top: 0px;
}

.filter-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
  background: var(--seventh-color);
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--third-color);
  background: var(--fourth-color);
  border-radius: 4px;
  border-color: var(--seventh-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.table-list-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
}

.table-card {
  margin-bottom: 30px;
  display: block;
  position: relative;
  overflow: hidden;
  background: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.table-card:nth-child(-n+6) {
  margin-bottom: 30px;
}

.table-card-image {
  width: 370px;
  height: 294px;
}

.table-card:hover,
.table-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.table-card-overlay {
  display: flex;
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  height: 295px;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.table-card:hover .table-card-overlay {
  transform: translateY(0);
}

.table-card-description {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 48px 24px;
}

.table-decription {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: #ffffff;
  position: relative;
}

.table-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.table-subtitle {
  position: relative;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */