:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --third-color: #ffffff;
  --fourth-color: #2196f3;
  --fifth-color: #757575;
  --sixth-color: #2f303a;
  --seventh-color: #f5f4fa;
  --eighth-color: #eeeeee;
  --ninght-color: #ececec;
  --icon-color: #afb1b8;
}

body {
  font-family: var(--main-font);
  background-color: var(--third-color);
 
  margin: 0 auto;
}

/*===cleaning===*/
h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.section {
  padding: 94px 0;
}

/*===HEADER===*/
.header {
  /* width: 1600px; */
  height: 80px;
  border-bottom: 1px solid var(--ninght-color);
}

.header .container {
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-right: 27px;
  
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color);
  margin-left: 0px;
  margin-right: 93px;
}

.studio {
  color: var(--fourth-color);
}

.navigation {
  display: flex;
}

.navigation-list,
.navigation-item,
.navigation-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation-item:not(:last-child) {
  padding-right: 46px;
}
.contact {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.contact-item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: var(--secondary-color);
  text-decoration: none;
  fill: var(--secondary-color);
}

.contact-item:not(:last-child) {
  padding-right: 50px;
}

.contact-icon {
  margin-right: 10px;
}

.link {
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus,
.contact-item-link:hover,
.contact-item-link:focus {
  color: var(--fourth-color);
  fill: var(--fourth-color);
}

/*===END HEADER===*/

/*===MAIN===*/

/*===HERO===*/

.hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}

.main-header {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-transform: uppercase;
  text-align: center;

  /* or 136% */

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
  /* padding-top: 200px;  */
  width: 696px;
  /* margin-left: auto;
    margin-right: auto; */
}

.hero {
  display: block;
  margin: 0 auto;
  background-color: var(--sixth-color);
  height: 600px;
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 1600px;
  width: 100%;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/lmg.jpg");
  /* background-repeat: no-repeat;
    background-position: 50%; */
}

.modal-btn:focus,
.modal-btn:hover {
  color: var(--secondary-color);
}

.modal-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--fourth-color);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  fill: solid;
  color: var(--third-color);
  cursor: pointer;
  margin-top: 30px;

  /* margin-left: 700px; */

  /* 
    position: absolut+e; 
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 35px; */
}

/*===END HERO===*/

/*===ABOUT==*/

.content-list,
.about-list,
.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
  padding: 0px;
}

.content-item {
}
.content-item-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 0;
  background-color: var(--seventh-color);
}
.content-list-svg {
  width: 70px;
  height: 70px;
}

.item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.content-item:not(:last-child) {
  margin-right: 30px;
}

.container .about {
  display: flex;
  justify-content: center;
}

.container .team {
  display: flex;
  justify-content: center;
}

.team-board {
  background: var(--seventh-color);
}

.about-board {
  padding-top: 0px;
}

.about,
.team,
.clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.name-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
}

.name-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-align: center;
  padding-top: 10px;
  margin-bottom: 16px;
}

.team-item {
  width: 270px;
  /* height: 428px; */
  left: 215px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--third-color);
}
/* ===TEAM ICONS=== */
.team-media-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 30px;
  padding-bottom: 30px;
}

.team-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--third-color);
  fill: var(--icon-color);
}

.team-media-link:hover,
.team-media-link:focus {
  background-color: var(--fourth-color);
  fill: var(--third-color);
}

.team-media-svg {
  width: 20px;
  height: 20px;
}

.container .clients {
  display: flex;
  justify-content: center;
}
.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.clients-list-icon {
  list-style: none;
}
.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--fourth-color);
  fill: var(--fourth-color);
}
.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  background-color: var(--third-color);
  fill: var(--icon-color);
}
.clients-icon-svg {
  width: 106px;
  height: 60px;
}

/*===END ABOUT==*/
/*===END MAIN===*/

/*===FOOTER===*/

.footer {
  background-color: var(--sixth-color);
  color: var(--third-color);
  height: 252px;
  padding: 60px 0px;
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--third-color);
}

.footer-ad-info-list {
  list-style: none;
  margin-top: 20px;
  display: block;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 3px;
  display: block;
}

.footer-contacts {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  display: block;
  margin: 10px 0;
}

.footer-address:hover,
.footer-address:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--fourth-color);
}
/*===FOOTER ICONS===*/
footer > .container {
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding-top: 0px;
}
.join {
  margin-left: 70px;
  margin-top: 0;
}
.join-header {
  text-align: left;
  font-weight: 700;
  size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--eighth-color);
  text-transform: uppercase;
}
.join-media-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 206px;
  height: 44px;
  gap: 10px;
  padding-top: 20px;
}

.join-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--third-color);
}

.join-media-link:hover,
.join-media-link:focus {
  background-color: var(--fourth-color);
  fill: var(--third-color);
}

.join-media-svg {
  width: 20px;
  height: 20px;
}

/*=== END FOOTER===*/

/*===PORTFOLIO*===*/

.filter {
  padding-bottom: 50px;
}

.table {
  padding-top: 0px;
}

.filter-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  width: 121px;
  height: 38px;
  left: 510px;
  top: 174px;
  background: var(--seventh-color);
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--third-color);
  background: var(--fourth-color);
  border-radius: 4px;
  border-color: var(--seventh-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.table-list-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: flex-start;
  list-style: none;
}

.card:nth-child(-n + 6) {
  margin-bottom: 30px;
} 

.card{
  display: block;
}

.table-item:hover,
.table-item:focus{
background: var(--third-color);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
cursor: pointer;
}

.card-description {
  padding: 20px 24px;
  border: 1px solid var(--eighth-color);
  border-top: none;
}



.table-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.table-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/*=== END PORTFOLIO*===*/
