:root {
   --main-font: "Roboto", sans-serif;
   --secondary-font: "Raleway", sans-serif;
   --main-color: #212121;
   --secondary-color: #757575;
   --third-color: #ffffff;
   --fourth-color: #2196f3;
   --fifth-color: #757575;
   --sixth-color: #2f303a;
   --seventh-color: #f5f4fa;
   --eighth-color: #eeeeee;
   --ninght-color: #ececec;
   --icon-color: #afb1b8;
 }
 