.logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: --main-color;
    margin-left: 0px;
    margin-right: 93px;
  }
  
  .studio {
    color: var(--fourth-color);
  }
  