
.table-list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    list-style: none;
  }


  .table-card{
    margin-bottom: 30px;
    display: block;
    position: relative;
    overflow: hidden;
    background: $third-color;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .table-card:nth-child(-n + 6) {
    margin-bottom: 30px;
  } 

  .table-card-image{
    width: 370px;
    height: 294px;
  }

  .table-card:hover,
  .table-card:focus{
  
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  }
 

  .table-card-overlay{
    display: flex;
    position: absolute;
    top: 0;
    background-color: rgba(33,150,243,0.9);
    height: 295px;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    left: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
 .table-card:hover .table-card-overlay{
    transform: translateY(0)
  }

.table-card-description {
  
    font-size: 18px;
    line-height: 1.56;
    color: $third-color;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 48px 24px;
   
  }
  
.table-decription {
  padding: 20px 24px;
    border: 1px solid $eighth-color;
    border-top: none;
    background-color: $third-color;
    position: relative;
  
}

.table-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.table-subtitle {
  position: relative;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: $secondary-color;
}

