
.newsletter-form-header{
    text-align: left;
    font-weight: 700;
    size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: var(--eighth-color);
    text-transform: uppercase;
  }
  
  .newsletter-form-label {
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--fifth-color);
    outline: none;
    background-color: none;
  
  }
  
  .newsletter-form-container {
  display: flex;
  align-items: flex-end;
  }
  
  
  .newsletter-form-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    margin-top: 20px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    outline: none;
    color: var(--fifth-color);
  }
  .newsletter-btn {
    display: flex;
    justify-content:space-evenly;
    margin-left: 12px;
    align-items: center;
  
  
  }
  
  #newsletter-form-mail{
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  .newsletter-form-icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
  
  }